{% extends 'base.html' %}
{% block content %}
<h1>Items Available</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>
            <a href="{% url 'place_order' item.id %}">Order</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}