{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Welcome to Ecom</h1>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    {% if user.is_seller %}
        <h2>Seller Options</h2>
        <ul>
            <li><a href="{% url 'item_list' %}">View Items</a></li>
            <li><a href="{% url 'item_create' %}">Create Item</a></li>
        </ul>
    {% else %}
    <h2>Customer Options</h2>
    <ul>
        <li><a href="{% url 'customer_home' %}">View Items</a></li>
    {% endif %}
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}
